body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 1.1rem; 
    line-height: 1.5;
}

section {
    margin-right: 280px; 
    padding: 20px;
    box-sizing: border-box;
}

main {
    flex: 1; 
    padding: 20px;
}

/* Responsività */
@media (max-width: 768px) {
    .panoramica-steps {
        flex-direction: column;
    }
    .step {
        padding: 15px;
    }
}

.error-message, .success-message {
    text-align: center;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 1.1rem; 
}

.error-message {
    color: white;
    background-color: #8b0000;
}

.success-message {
    color: white;
    background-color: #228b22;
}

.btn-danger:hover {
  background-color: #8b0000; 
}